@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ee9a40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF7870;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.centered-text {
  @apply flex justify-center font-bold text-6xl mt-12;
}

nav button {
  @apply p-2 transition-colors duration-200;
}

.tab-bar {
  @apply bg-gray-900 bg-opacity-80 text-white rounded-b-lg;
  backdrop-filter: blur(10px);
}

.logo h1 {
  @apply text-lg font-bold text-white;
}

.tab-button {
  @apply flex flex-col items-center text-gray-300 hover:text-white transition-colors duration-200;
}

.tab-button span {
  @apply text-xs mt-1;
}

@font-face {
  font-family: 'firstFont';
  src: url('/fonts/MARY GOODS.otf');
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 12vw;
  font-weight: 400;
  z-index: 0;
  color: #526760;
  font-family: "firstFont";
}

@keyframes fadeInShadow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.fade-in-shadow {
  animation: fadeInShadow 2s ease-in-out;
}

.gradient-bg {
  background: linear-gradient(135deg, #edeced, #ee9a40);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hover-gradient {
  background: linear-gradient(90deg, #ee9a40, #FF7870);
  transition: background 0.4s ease;
}
.hover-gradient:hover {
  background: linear-gradient(90deg, #394d42, #8a9e97);
}

