@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #8c9ac1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8c9ac1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #b7b8d4, #55699b);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  font-family: Arial, Helvetica, sans-serif;
}

.centered-text {
  @apply flex justify-center font-bold text-6xl mt-12;
}

nav button {
  @apply p-2 transition-colors duration-200;
}

.tab-bar {
  @apply bg-gray-900 bg-opacity-80 text-white rounded-b-lg;
  backdrop-filter: blur(10px);
}

.logo h1 {
  @apply text-lg font-bold text-white;
}

.tab-button {
  @apply flex flex-col items-center justify-center text-gray-300 hover:text-white transition-colors duration-200;
}

.tab-button span {
  @apply text-xs mt-1;
}

.welcome-text {
  font-family: 'firstFont', Arial, Helvetica, sans-serif;
}

@keyframes fadeInShadow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.fade-in-shadow {
  animation: fadeInShadow 2s ease-in-out;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hover-gradient {
  background: linear-gradient(90deg, #7091E6, #9eadd3);
  transition: background 0.4s ease;
}
.hover-gradient:hover {
  background: linear-gradient(90deg, #3D52A0, #8697C4);
}

@font-face {
  font-family: 'firstFont';
  src: url('/fonts/AndersonGrotesk-Ultrabold.otf');
}

.events-text{
  font-family: 'secondFont', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'secondFont';
  src: url('/fonts/AndersonGrotesk-BoldOblique.otf');
}

@font-face {
  font-family: 'thirdFont';
  src: url('/fonts/AndersonGrotesk-Bold.otf');
}

.card-text{
  font-family: 'thirdFont', Arial, Helvetica, sans-serif;
}

